<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_AddressWithEmail>
            <version>0.1.0</version>
        </Elgentos_AddressWithEmail>
    </modules>
    <global>
        <helpers>
            <customer>
                <rewrite>
                    <address>Elgentos_AddressWithEmail_Helper_Customer_Address</address>
                </rewrite>
            </customer>
        </helpers>
    </global>
</config>